.fade-enter{
opacity: 0;


}
/*入场动画的第二个时刻*/
.fade-enter-active{
    opacity: 1;
    transition: opacity 1s ease-in;
}
/*整个入场动画执行完成之后*/
.fade-enter-done{
opacity: 1;
}

.fade-exit{
 opacity: 1;
}
.fade-exit-active{
    opacity: 0;
    transition: opacity 1s ease-in;
}
.fade-exit-done{
    opacity: 0;
}